@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('Fonts/mulish-v11-latin-regular.woff2') format('woff2'),
       url('Fonts/mulish-v11-latin-regular.woff') format('woff'); 
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 600;
  src: local(''),
       url('Fonts/mulish-v11-latin-600.woff2') format('woff2'), 
       url('Fonts/mulish-v11-latin-600.woff') format('woff'); 
}
@font-face {
  font-family: 'Mulish';
  font-style: normal;
  font-weight: 700;
  src: local(''),
       url('Fonts/mulish-v11-latin-700.woff2') format('woff2'), 
       url('Fonts/mulish-v11-latin-700.woff') format('woff');
}
body{
font-family: "Mulish", "Arial" , sans-serif
}

.page{
  display: flex;
  justify-content: center;
}
